body{
  background-color: lightslategrey;
}
.header{
  color:orange;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-decoration: cadetblue;
}
.sub {
  text-align: center;
  color:lightskyblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}